.tracking-history {
  margin-bottom: 20px;
}

.tracking-history > .tracking-item {
  display: flex;
}

.tracking-history > .tracking-item > div {
  padding: 10px;  
}

.tracking-history > .tracking-item > div:nth-child(1) {
  position: relative;
  flex-basis: 20%;
}

.tracking-history > .tracking-item > div:nth-child(2) {
  flex-basis: 60%;
  min-height: 60px;
}

.tracking-history > .tracking-item > div:nth-child(3) {
  flex-basis: 20%;
}

.tracking-history > .tracking-item > div:nth-child(1)::before,
.tracking-history > .tracking-item > div:nth-child(1)::after {
  content: ' ';
  position: absolute;
  top: 2px;
  right: 0;
}

.tracking-history > .tracking-item > div:nth-child(1)::before {
  background-color: #aaa;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transform: translate(0, 100%);
}

.tracking-history > .tracking-item > div:nth-child(1)::after {
  border: 1px solid #aaa;
  height: 100%;
  transform: translate(calc(-50% + -4px), 34%);
}

.tracking-history > .tracking-item:last-child > div:nth-child(1)::after {
  height: 0;
}
